<html>
<head>
    {{>Header}}
</head>
<body>
    
    <div class="text-center d-flex mt-5 justify-content-center">
        <div class="card shadow w-75">
            <img src="/images/header.png" alt="welcomeHeader" class="card-img-top">
            <div class="card-body shadow">
                <h5 class="card-title" id="welcomeBanner">Home to a better lifestyle.</h5>
                <a href="/about" class="btn btn-success-outline-none" id="welcomeLink">About Us</a>
                <a href="/login" class="btn btn-success-outline-none" id="welcomeLink">Login</a>
                <a href="/register" class="btn btn-success-outline-none" id="welcomeLink">Register</a>
            </div>
        </div>
    </div>

</body>
</html>

