<html>
<head>
    {{>header}}
</head>
<body>
<div class="container-sm">
        <h2 class="card-title text-center mt-5">Welcome, {{cardusername}} </h2>
    <div class="row justify-content-center">
            <div class="text-center d-flex mt-5 justify-content-center">
                <div class="card shadow" style="width: 18rem">
                    <img src="/images/goals.png" alt="defaultGoalPic" class="card-img-top">
                    <div class="card-body shadow">
                        <h5 class="card-title">Goals </h5>
                        <p class="card-text">Goals:  {{GoalSet}}</p>
                        <p class="card-text">{{#newestGoal}} New Goal: {{newestGoal}} {{/newestGoal}}</p>
                        <a href="/goal" class="btn btn-success-outline-none">Create</a>
                        <button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#goalInfo">View</button>
                    </div>
                </div>
            </div>
            <div class="text-center d-flex mt-5 justify-content-center">
                <div class="card shadow" style="width: 18rem">
                    <img src="/images/defaultpp.png" alt="defaultProfilePic" class="card-img-top">
                    <div class="card-body shadow">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">Username: {{cardusername}}</p>
                        <p class="card-text">Account Created: {{accCreated}}</p>
                        <button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#updateProfile">Update</button>
                    </div>
                </div>
            </div>
            <div class="text-center d-flex mt-5 justify-content-center">
                <div class="card shadow text-center" style="width: 18rem">
                    <img src="/images/tester.png" alt="defaultAchievementPic" class="card-img-top">
                    <div class="card-body shadow">
                        <h5 class="card-title">Achievements </h5>
                        <p class="card-text">Achieved: {{GoalsCompleted}}</p>
                        <p class="card-text">{{#newestAch}}Newest Achievement: {{newestAch}} {{/newestAch}}</p>
                        <button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#achievementModal">View</button>
                    </div>
                </div>
            </div>
            <div class="text-center d-flex mt-5 justify-content-center">
                <div class="card shadow text-center" style="width: 18rem">
                    <img src="/images/info.png" alt="information" class="card-img-top">
                    <div class="card-body shadow">
                        <h5 class="card-title">Infomation</h5>
                        <p class="card-text"><button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#nutritionInfo">Nutrition</button></p>
                        <p class="card-text"><button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#fitnessInfo">Fitness</button></p>
                        <p class="card-text"><button type="button" class="btn btn-info-outline-none btn" data-toggle="modal" id="modalLink" data-target="#lifeInfo">Healthy Lifestyle</button></p>

                        
                    </div>
                </div>
            </div>
            <div class="text-center d-flex mt-5 justify-content-center">
                <div class="card shadow text-center" style="width: 45rem">
                    <img src="/images/headerAcc.png" alt="logout" class="card-img-top">
                    <div class="card-body shadow">
                        <h5 class="card-title">Home</h5>
                        <a href="/logout" class="btn success-outline-none">Logout</a> 
                    </div>
                </div>
            </div>
            
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="lifeInfo" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header border-0">
                <h4 class="modal-title">Healthy Lifestyle</h4>
              </div>
              <div class="modal-body">
                <p>Living a healthy lifestyle is about making choices that support your physical and mental wellbeing. Our app helps you set goals, track your progress, and make informed choices to support your overall health.</p>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        
          <div class="modal fade" id="nutritionInfo" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header border-0">
                <h4 class="modal-title">Nutrients</h4>
              </div>
              <div class="modal-body">
                <p>The right Nutrition is key to achieving your health goals. Keep track of your daily intake and make informed choices to support your journey towards a healthier life.</p>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink" >Close</button>
              </div>
            </div>
            
          </div>
        </div>

        <div class="modal fade" id="goalInfo" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content shadow">
              <div class="modal-header border-0">
                <h4 class="modal-title">Goals</h4>
              </div>
              <div class="modal-body">
              {{#goals}}
                <ul> 
                
                <form method="post" action="/updateGoal">
                  <input type="hidden" name="goalTitle" value="{{Goal}}">
                     <div class="card shadow">
                        <div class="card-body">
                        <h4 class="card-title">{{Goal}}</h4>
                        <p class="card-text">Description: {{Description}}</p>
                        <p class="card-text">Completed?  {{^goals.Achieved}} No {{/goals.Achieved}}</p>
                        <button type="submit" name="goalID" value="{{_id}}" id="modalLink" class="btn btn-primary-outline-none btn-sm mb-2">Mark as Achieved</button>
                        <button type="submit" name="deleteID" value="{{_id}}" id="modalLink" class="btn btn-primary-outline-none btn-sm mb-2">Delete</button>
                        <footer class="blockquote-footer" id="goalID">Goal ID: {{_id}} | Date Created: {{dateCreated}}</footer>
                    </div>
                </form>
                </ul>
            {{/goals}}
                {{^goals}}
                No Goals yet.
                {{/goals}}
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink" >Close</button>
              </div>
            </div>
            
          </div>
        </div>

        <div class="modal fade" id="achievementModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content shadow">
              <div class="modal-header border-0">
                <h4 class="modal-title">Achievements</h4>
              </div>
              <div class="modal-body">
              {{#achievements}}
                <ul> 

                  <form method="post" action="/updateGoalRC">
                     <div class="card shadow">
                        <div class="card-body">
                        <input type="hidden" name="achievementTitle" id="achievementTitle" value="{{goal}}">
                        <h4 class="card-title">{{Goal}}</h4>
                        <p class="card-text">Description: {{Description}}</p>
                        <p class="card-text">Completed? Yes</p>
                        <button type="submit" name="achievementID" value="{{_id}}" id="modalLink" class="btn btn-primary-outline-none btn-sm mb-2">Remove Completion Status</button>
                        <button type="submit" name="deleteID" value="{{_id}}" id="modalLink" class="btn btn-primary-outline-none btn-sm mb-2">Delete</button>
                        <footer class="blockquote-footer" id="goalID">Goal ID: {{_id}} | Date Created: {{dateCreated}}</footer>
                    </div>
                </form>
                </ul>
            {{/achievements}}
                {{^achievements}}
                No Goals Completed Yet.
                {{/achievements}}
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink" >Close</button>
              </div>
            </div>
            
          </div>
        </div>

        <div class="modal fade" id="updateProfile" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content shadow">
              <div class="modal-header border-0">
                <h4 class="modal-title text-end">Modify Profile</h4>
              </div>
        
              <div class="modal-body">
              {{#existingName}}{{existingName}}{{/existingName}}
                <ul> 
                  <form method="post" action="/updateProfile">
                    <div class="form-group">
                    <label for="username" id="credLayout">User Name</label>
                    <input type="text" class="form-control" id="username" name="newUsername" placeholder="New username" required>
                    </div>
                    <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary-outline-none">Update</button>
                    <p>!!WARNING!! after changing password your will no longer be able to log in with your previous user name</p></p>
                    </div>
                    <div>
                    </div>
                    </form>
                    </ul>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink" >Return</button>
              </div>
            </div>
            
          </div>
        </div>

        
          <div class="modal fade" id="fitnessInfo" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header border-0">
                <h4 class="modal-title">Fitness</h4>
              </div>
              <div class="modal-body">
                <p>Fitness is an essential part of a healthy lifestyle. Track your progress, set goals, and stay motivated with our fitness tracking features</p>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalLink" >Close</button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>


</div>

</body>
</html>